<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Common style files -->
    <link rel="stylesheet" href="style/common.css" type="text/css" />

    <!--Recovery-specific style -->
    {% if recovery == "OrangeFox" %}
    <link rel="stylesheet" href="style/orangefox.css" type="text/css" />
    {% else %}
    <link rel="stylesheet" href="style/twrp.css" type="text/css" />
    {% endif %}
    
    {% if addionnal_js != "" %}
    <script src="custom.js" defer></script>
    {% endif %}
    <title>
        {{ recovery }} releases for {{ marketname }} ({{ device }}) 
    </title>
</head>
<body>
    <h1>
        {{ recovery }} releases for {{ marketname }} ({{ device }}) (by {{ maintainer }})
    </h1>
    
    <h2>
        Version {{ version }}
    </h2>

    <div class="changelog">
        <h2>Changelog</h2>
        {{ changelogHtml }}
    </div>

    <div class="install-instructions">
        <h2>Install instructions</h2>
        {{ installInstructionsHtml }}
    </div>

    <button>
        <a href="{{ zip_name }}">
            Download ZIP installer
        </a>
        <a href="{{ zip_name }}.sha256sum">
            (SHA256SUM)
        </a>
        {% if gpg_signed %}
        <a href="{{ zip_name }}.sha256sum.sig">
            (GPG)
        </a>
        {% endif %}
    </button>
    <button>
        <a href="{{ img_name }}">
            Download .img file
        </a>
        <a href="{{ img_name }}.sha256sum">
            (SHA256SUM)
        </a>
        {% if gpg_signed %}
        <a href="{{ img_name }}.sha256sum.sig">
            (GPG)
        </a>
        {% endif %}
    </button>
    {% if include_vbmeta %}
    <button>
        <a href="vbmeta.img">
            Download blank Vbmeta
        </a>
        <a href="vbmeta.img.sha256sum">
            (SHA256SUM)
        </a>
        {% if gpg_signed %}
        <a href="vbmeta.img.sha256sum.sig">
            (GPG)
        </a>
        {% endif %}
    </button>
    {% endif %}
</body>
</html>
